



.art-link.art-color-link {
  color: #4ca274
}

.art-link.art-color-link:hover {
  color: #4ca274;
}
.art-btn {
  background: #4ca274;
  border-radius: .5rem !important;
}

blockquote {
  background: #4ca274;
}

.art-custom-list li:before {
  border: solid 2px #4ca274;
}

.art-info-bar .art-header .art-avatar .art-lamp-light .art-available-lamp {
  background: #4ca274;
}

.art-info-bar .art-name:hover a {
  color: #4ca274
}

.art-info-bar .art-knowledge-list li:before {
  color: #4ca274;
}

.art-menu-bar .art-language-change li.art-active-lang {
  background-color: #4ca274;
}

.art-code i {
  color: #4ca274
}

.art-counter-frame .art-counter-box .art-counter {
  color: #4ca274;
}

.art-counter-frame .art-counter-box .art-counter-plus {
  color: #4ca274;
}

.art-price.art-popular-price:before {
  background: #4ca274
}

.art-price .art-price-body .art-price-cost .art-number {
  color: #4ca274;
}

.art-price .art-price-body .art-price-list li:before {
  color: #4ca274
}

.art-price .art-price-body .art-price-list li.art-empty-item:before {
  color: #4ca274
}

.art-testimonial .art-testimonial-footer .art-star-rate {
  color: #4ca274
}

.art-slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #4ca274;
}

.fancybox-progress {
  background: #4ca274;
}

.fancybox-thumbs__list a:before {
  border-color: #4ca274;
}

.art-timeline .art-timeline-item .art-timeline-mark {
  border: solid 3px #4ca274;
}

.art-form-field textarea.art-active {
  border-color: #4ca274;
}

.art-form-field textarea:focus {
  border-color: #4ca274;
}

.art-contact-form .art-input.art-active+label, .art-contact-form .art-input:focus+label {
  background: #4ca274;
}

.art-pagination .art-pagination-center a.art-active-pag {
  color: #4ca274;
}

.art-preloader-load path:last-child {
  stroke: #4ca274;
}

.art-line-progress path:last-child {
  stroke: #4ca274;
}

.art-cirkle-progress path:last-child {
  stroke: #4ca274;
}

.art-card, .art-price, .art-service-icon-box{
  border-radius: 1rem !important;
}

.art-testimonial{
  border-radius: 1rem !important;
  min-height: 250px;
}

.art-banner, .art-banner-overlay{
  border-radius: 1rem 1rem 0 0!important;
}
.art-app-wrapper, .art-grid-item{
  border-radius: 1rem !important;
}
.art-portfolio-item-frame img{
  border-radius: 1rem !important;
}
.art-ls-social, .art-info-bar, .art-app-container{
  border-radius: 0 0 0 1rem !important;
}
.art-item-description{
  border-radius: 0 0 1rem 1rem !important;
}
.art-blog-card, .art-banner-back, .art-preloader{
  border-radius: 1rem;
}
blockquote, .art-timeline-content{
  border-radius: 1rem !important;
}
.testimonial-face-background{
  background: #4ca274;
}
.testimonial-face-background h5{
  font-size: 30px;
  width: 100%;
  text-align: center;
  padding: 14px 0px;
}

@media (max-width: 920px)
{
  .art-app-wrapper{
    border-radius:  0 !important;
  }
}