/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.project {
    margin: auto;
    min-height: 100vh;
    width: 60vw;
    background: #121212;
    box-shadow: 0 0 96px 0 #000;
}

.project iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

@media only screen and (max-width: 900px) {
    .project {
        width: 70vw;
    }
}

@media only screen and (max-width: 550px) {
    .project {
        width: 80vw;
    }
}